@media (min-width: 992px) {
  .w-lg-10 {
    width: 10% !important;
  }

  .w-lg-20 {
    width: 20% !important;
  }

  .w-lg-30 {
    width: 30% !important;
  }

  .w-lg-40 {
    width: 40% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-60 {
    width: 60% !important;
  }

  .w-lg-70 {
    width: 70% !important;
  }

  .w-lg-80 {
    width: 80% !important;
  }

  .w-lg-90 {
    width: 90% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }
}

@media (max-width: 991px) {
  .w-sm-10 {
    width: 10% !important;
  }

  .w-sm-20 {
    width: 20% !important;
  }

  .w-sm-30 {
    width: 30% !important;
  }

  .w-sm-40 {
    width: 40% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-60 {
    width: 60% !important;
  }

  .w-sm-70 {
    width: 70% !important;
  }

  .w-sm-80 {
    width: 80% !important;
  }

  .w-sm-90 {
    width: 90% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }
}

/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#F1F3FF, #CBD4FF);
}